<h2>Vevők</h2>
<ngx-data-table
  *ngIf="list$ |async as list"
  [list]="list"
  [columns]="[
    {
      title: 'Név',
      key: 'fullName'
    },
    {
      title: 'Irányítószám',
      key: 'zip'
    },
    {
      title: 'Város',
      key: 'city'
    },
    {
      title: 'Utca, hsz.',
      key: 'streetAddress'
    },
    {
      title: 'Ország',
      key: 'country'
    },
    {
      title: 'e-mail',
      key: 'email'
    },
    {
      title: 'Műveletek',
      key: '',
      divButton: [
      {
        id: 'edit',
        class: 'btn btn-primary',
        text: 'Szerkesztés'
      },
      {
        id: 'delete',
        class: 'btn btn-danger',
        text: 'Törlés'
      }
      ]
    }
  ]"
  (onButtonClick)="tableButtonClick($event)"
></ngx-data-table>

<app-modal *ngIf="editObj$ | async as customer" [(visible)]="editVisible" (onOkButtonClick)="editOkButton(customer)" >
  <form >
    <div class="form-group">
      <label for="fullName" >Név</label>
      <input type="text" [(ngModel)]="customer.fullName" name="fullName" id="fullName" class="form-control" >
    </div>
    <div class="form-group">
      <label for="zip" >Irányítószám</label>
      <input type="text" [(ngModel)]="customer.zip" name="zip" id="customerName" class="form-control" >
    </div>
    <div class="form-group">
      <label for="city" >Város</label>
      <input type="text" [(ngModel)]="customer.city" name="city" id="customerName" class="form-control" >
    </div>
    <div class="form-group">
      <label for="streetAddress" >Utca, hsz.</label>
      <input type="text" [(ngModel)]="customer.streetAddress" name="streetAddress" id="customerName" class="form-control" >
    </div>
    <div class="form-group">
      <label for="country" >Ország</label>
      <input type="text" [(ngModel)]="customer.country" name="country" id="country" class="form-control" >
    </div>
    <div class="form-group">
      <label for="email" >Email</label>
      <input type="text" [(ngModel)]="customer.country" name="email" id="email" class="form-control" >
    </div>
  </form>
</app-modal>
